
.container {
    position: relative;
  }
  
  .topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(33, 29, 241);

  }

  img { 
    width: 100%;
    height: auto;
    opacity: 0.3;
  }
  .container {
    position: relative;
  }
  
  .topright {
    position: absolute;
    top: 8px;
    right: 0px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(33, 29, 241);

  }


  img { 
    width: 100%;
    height: auto;
    opacity: 0.3;
  }
  .container {
    position: relative;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 8px;
    left: 0px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(33, 29, 241);

  }

  img { 
    width: 100%;
    height: auto;
    opacity: 0.3;
  }
.container{
  position: relative;
}

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(33, 29, 241);
}

img { 
  width: 100%;
  height: auto;
  opacity: 0.3;
}
.container {
  position: relative;
}

.center {
  position: absolute;
  width: 50%;
  right: 16px;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(33, 29, 241);

}

img { 
  width: 100%;
  height: auto;
  opacity: 0.3;
}
.container {
  position: relative;
}

.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 40px;
}

img { 
  width: 100%;
  height: auto;
  opacity: 0.3;
}
.container {
  position: relative;
}

.center {
  position: absolute;
  WIDTH: 100%;
  top: 50%;
  text-align: CENTER;
  font-size: 40px;

}

img { 
  width: 100%;
  height: auto;
  opacity: 0.3;
}
.ALI{
    POSITION:RELATIVE;

  }
  .cente{
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: CENTER;
    font-size: 50PX;
  }
  .ASSIGNMENT{
    width: 100%;
    height: AUTO;
    opacity: 0.3;

  }